/** @format */

.swiperLoop {
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; 
  height: 200px;
}

.dark .swiperLoop {
  background-color: #444;
}

.swiperSlide {
  background-position: center;
  background-size: cover;
  height: 120px;
}

.swiperSlide img, .swiperSlide iframe {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  /* object-fit: cover; */
  /* object-fit: contain; */
}

.swiperSlide p {
  text-align: center;
  margin-top: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.85rem;
}

.swiperSlide:hover {
  transform: scale(1.01);
}

.swiperSlide iframe {
  pointer-events: none; /* Disable pointer events by default */
}

.swiperSlide a {
  text-decoration: none;
  color: black;
}

.swiperSlide p:hover {
  opacity: 0.5;
}

/* Custom Styles */
/* Adjust this value to position the pagination */
/* .swiperLoop :global(.swiper-pagination) {
  position: absolute;
  top: 300px; 
  left: 0;
  right: 0;
} */

.swiperLoop :global(.swiper-pagination) {
  position: absolute;
  text-align: center;
  margin-bottom: 40px;
}

.swiperLoop :global(.swiper-button-next), .swiperLoop :global(.swiper-button-prev) {
  position: absolute;
  color: black; 
  background-color: #ffffff50;
  width: 2rem;
  height: 2rem;
  top: 48%; /* Center the buttons vertically */
  transform: translateY(-50%);
  z-index: 10; /* Ensure buttons stay above the slides */
  cursor: pointer;
}

.swiperLoop :global(.swiper-button-next:hover), .swiperLoop :global(.swiper-button-prev:hover) {
  background-color: #ffffff80;
}


.swiperLoop :global(.swiper-button-next::after), .swiperLoop :global(.swiper-button-prev::after) {
  font-size: 15px;
}

.dark .swiperSlide p {
  color: white;
}

.dark .swiperLoop :global(.swiper-button-next), .dark .swiperLoop :global(.swiper-button-prev) {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.dark .swiperLoop :global(.swiper-button-next:hover), .dark .swiperLoop :global(.swiper-button-prev:hover) {
  background-color: rgba(0, 0, 0, 0.5);
}


/* Responsiveness in smaller screens */
/* @media screen and (max-width: 1089px) {
  .swiperSlide {
    height: 400px;
  }
}

@media screen and (max-width: 376px) {
  .swiperSlide {
    height: 320px;
  }
}

@media screen and (max-width: 350px) {
  .swiperSlide {
    height: 300px;
  }
} */

/* @media screen and (max-width: 2560px) and (min-width: 2300px) {
  .swiperSlide {
    height: 300px;
  }

  .swiperLoop :global(.swiper-pagination) {
    top: 400px
  }
}

@media screen and (max-width: 2300px) and (min-width: 2150px) {
  .swiperSlide {
    height: 275px;
  }

  .swiperLoop :global(.swiper-pagination) {
    top: 370px;
  }
}

@media screen and (max-width: 2150px) and (min-width: 1950px) {
  .swiperSlide {
    height: 250px;
  }

  .swiperLoop :global(.swiper-pagination) {
    top: 350px;
  }
}

@media screen and (max-width: 1950px) and (min-width: 1750px) {
  .swiperSlide {
    height: 220px;
  }

  .swiperLoop :global(.swiper-pagination) {
    top: 320px;
  }
}

@media screen and (max-width: 1750px) {
  .swiperSlide {
    height: 200px;
  }

  .swiperLoop :global(.swiper-pagination) {
    top: 300px;
  }
}


@media screen and (max-width: 800px) {
  .swiperSlide {
    height: 90px;
  }
} */
