.autocomplete-container {
    position: relative;
    width: 300px;
}

.autocomplete-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.autocomplete-results {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    z-index: 1000;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-item-highlighted {
    background-color: lightgray;
}