<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
<title>Feed View</title>
<script type="text/javascript" src="/localsite/js/d3.v5.min.js" id="/localsite/js/d3.v5.min.js"></script>
<script type="text/javascript" src="/localsite/js/jquery.min.js" id="/localsite/js/jquery.min.js"></script>

<link rel="stylesheet" href="/localsite/css/base.css" id="/localsite/css/base.css" />
<script type="text/javascript" src="/localsite/js/localsite.js?showheader=true&showsearch=true"></script>

<!-- 
	How to use Promise.all to wait for multiple sources (csv, json) 
	http://learnjsdata.com/read_data.html
-->

<style>
/* Generic Styling, for Desktops/Laptops */
table { 
	width: 100%; 
	border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
}
th { 
	background: #333; 
	color: white; 
	font-weight: bold; 
	cursor: s-resize;
	background-repeat: no-repeat;
    background-position: 3% center;
}
td, th { 
	padding: 6px; 
	border: 1px solid #ccc; 
	text-align: left; 
}

th.des:after {
  content: "\21E9";
}

th.aes:after {
  content: "\21E7";
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:before {
	  content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body { 
		padding: 0; 
		margin: 0; 
		width: 320px; }
	}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body { 
		width: 495px; 
	}
}
</style>


<script type="text/javascript">

	var jsonList = {"Table" : [
		{"value":"none","name":"Select a feed..."},
		{"value":"usda","name":"USDA Nutrition Label"},
	    {"value":"nasa","name":"NASA Image Feed"},
	    {"value":"US:Count_Person","name":"US State Populations"},
	    {"value":"LandCoverFraction_Forest","name":"Land Covered by Forests"},
	    {"value":"311","name":"See Click Fix Requests"},
	    {"value":"bsky","name":"BlueSky Model.Earth RSS (CORS)"},
	    {"value":"open311","name":"See Click Fix Requests (CORS)"},
		{"value":"film-scouting","name":"Film Scouting Locations"},
		{"value":"civictechindex","name":"Civic Tech Organizations"},
		{"value":"civictechlinks","name":"Civic Tech Links"},
		{"value":"epd","name":"Environmental Product Declarations (EPD)"},
  ]}

// To develop
//    {"value":"Continents","name":"Emissions by Continent"},
//     {"value":"jobs","name":"Jobs Random Forest Accuracy"},

// 403 - Get a new API to activate
// {"value":"diffbot","name":"Diffbot"},

document.addEventListener('hashChangeEvent', function (elem) {
	let hash = getHash();
	if (hash.feed != priorHash.feed) {
		updateHash({'path':''});
 		displayFeed();
 	}
}, false);

$(document).ready(function () {
  var listItems= "";
  for (var i = 0; i < jsonList.Table.length; i++){
    listItems+= "<option value='" + jsonList.Table[i].value + "'>" + jsonList.Table[i].name + "</option>";
  }
  $("#apiFeeds").html(listItems);
  displayFeed();
});

function displayFeed() {
	let hash = getHash();
	if (!hash.feed || hash.feed == "none") {
		if (!hash.path) {
			hash.feed = "usda"
		}
	}
	$("#resultFull").hide();
	$("#resultLoading").show(); // .text("Loading...");
	$('#pageTitleText').html("");
	$('#apiURL').val("");
	$("#apiFeeds option[value='" + hash.feed + "']").prop("selected", true);

	//var zip = param["zip"] || "30318";
	hash.zip = hash.zip || "30318";
	//var zip = param.zip;
	//if (!param.zip) {
	//	param.zip = "30318"
	//}
	var barName = "title"
	var quantity = 1;
	$('.ziptext').text(hash.zip);

	// Returns: blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource
	//var url = "https://kg.diffbot.com/search/?query=type%3ACorporation+locations.postalCode%3A%22" + zip + "%22+&from=0&size=5&token=31c80e03058e4f5b86585fb9e97640a6&active_tab=visual)"
	
	// General Mills - Returns 3
	//var url = "https://kg.diffbot.com/kg/dql_endpoint?type=query&token=31c80e03058e4f5b86585fb9e97640a6&size=3&from=0&query=type%3AOrganization%20name%3A%22General%20Mills%22";
	
	let url = "";
	if (hash.path) {
		url = hash.path;
	}
	selected_array = [];

	// https://github.com/ModelEarth/data-commons/blob/main/docs/air/emissions/data/API_EN.ATM.CO2E.PC_DS2_zh_csv_v2_45186.csv

	const latitude = localStorage.latitude ? localStorage.latitude : 41.307;
	const longitude = localStorage.longitude ? localStorage.longitude : -72.925;

	if (hash.feed == "bsky") {
		url = "https://bsky.app/profile/did:plc:ileopdnhib52emw3veem5zxk/rss";
		//alert(url)
		selected_array = [];
		$('#pageTitleText').html('<a href="https://cors-anywhere.herokuapp.com/">Turn on CORS passthrough</a>');
	} else if (hash.feed == "usda") { // Nutrition label
		$('#pageTitle').html("Nutrition label");
		url = "https://api.nal.usda.gov/fdc/v1/food/2015943?api_key=bLecediTVa2sWd8AegmUZ9o7DxYFSYoef9B4i1Ml";
		//selected_array = ["foodAttributes"];
		selected_array = [];
		$('#pageTitleText').html("View <a href='/OpenFootprint'>Label Template</a>.<br><br>");
	} else if (hash.feed == "jobs") {
		$('#pageTitle').html("Jobs Random Forest Accuracy");
		url = "/RealityStream/output/jobs/CV-RandomForestClassifier_accuracy.yaml";

	} else if (hash.feed == "diffbot") {
		quantity = 2;
		$('#pageTitle').html("DiffBot JSON API - ZIP CODE " + hash.zip);
		url = "https://kg.diffbot.com/kg/dql_endpoint?type=query&token=31c80e03058e4f5b86585fb9e97640a6&size=" + quantity + "&from=0&query=type%3ACorporation";
		if (hash.zip) {
			url += "+locations.postalCode%3A%22" + hash.zip + "%22+";
		}
		//alert(url)
		// selected_array[] Declared in /localsite/js/localsite.js
		// Currently commented out in localsite.js
		// Adjust map page too if adding.
		//selected_array=["founders","foundingDate","images","location","locations","yearlyRevenues","categories"];
		barName = "name"
	} else if (hash.feed == "nasa") {
		$('#pageTitle').html("NASA Image Feed");
		// NASA images and videos
		url = "https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY&hd=True&count=2"; // &count=1
		selected_array = ["title","date","explanation","url","hdurl"]; // "title"
		barName = "title"
	} else if (hash.feed == "US:Count_Person") {
		$('#pageTitle').html("US State Populations");
		url = "https://api.datacommons.org/v2/observation?key=AIzaSyCTI4Xz-UW_G2Q2RfknhcfdAnTHq5X5XuI&date=LATEST&entity.dcids=country%2FUSA&select=entity&select=variable&select=value&select=date&variable.dcids=Count_Person";

		$('#pageTitleText').html('"expression": country/USA<-containedInPlace+{typeOf:State}"<br><a href="https://docs.datacommons.org/api/rest/v2/observation">About GDC v2 Observation API</a> - <a href="https://docs.datacommons.org/api/rest/v2/resolve">Find a DCID</a><br><br>');
	} else if (hash.feed == "LandCoverFraction_Forest") {
		$('#pageTitle').html("US State Populations");
		url = "https://api.datacommons.org/v2/observation?key=AIzaSyCTI4Xz-UW_G2Q2RfknhcfdAnTHq5X5XuI&date=2015&date=LATEST&entity.expression=geoId%2F06%3C-containedInPlace%2B%7BtypeOf%3ACounty%7D&select=date&select=entity&select=value&select=variable&variable.dcids=LandCoverFraction_Forest";
	} else if (hash.feed == "311") {
		$('#pageTitle').html("See Click Fix - v2");
		url = `https://seeclickfix.com/api/v2/issues?lat=${latitude}&lng=${longitude}&zoom=8&per_page=10`;
		$('#pageTitleText').html("<a href='https://seeclickfix.com/open311/v2/docs'>About Open311 API</a><br><br>");
		selected_array = ["issues"];
		barName = "summary"
	} else if (hash.feed == "open311") {
		url = `https://seeclickfix.com/open311/v2/requests.json?lat=${latitude}&long=${longitude}`;
		$('#pageTitleText').html('<a href="https://cors-anywhere.herokuapp.com/">Turn on CORS passthrough</a>');
	} else if (hash.feed == "film-scouting") {
		$('#pageTitle').html("Film Scounting Locations");
		url = "https://raw.githubusercontent.com/GeorgiaFilm/cameraready_locations_curl/main/cameraready.json";
	} else if (hash.feed == "civictechindex") {
		$('#pageTitle').html("Civic Tech Organizations");
		//url = "https://api-stage.civictechindex.org/swagger/?format=openapi"
		url = "https://api-stage.civictechindex.org/api/organizations/";
		barName = "name"
	} else if (hash.feed == "civictechlinks") {
		$('#pageTitle').html("Civic Tech Links");
		url = "https://api-stage.civictechindex.org/api/links/";
		barName = "link_type"
	} else if (hash.feed == "epd") {
		url = "/io/template/feed/toy100.json";
		$('#pageTitleText').html("10 of 100 static rows from <a href='/io/template/feed/toy100.json'>2.5 MB JSON</a> for comparison with <a href='/io/template/feed/'>BuildingTransparency API Pull</a>.<br><br>");
	} else if (hash.feed) {
		$("#resultLoading").text("Unidentified feed request: " + hash.feed)
	}
	$('#apiURL').val(url);

	let count = 0;
	let maxcount = 10;
	//const start = Date.now();
	if (hash.feed == "bsky" || hash.feed == "open311") {
		displayRequestsCorsAnywhere(url);
	} else {
		displayJson(url);
	}
}
function displayJson(url){
  d3.json(url).then(function(json) {
  	var fullHtml = '';
  	//fullHtml += formatRow(b,json[a][b],1); // Resides in localsite.js

  	// Key, Value, Level, Params
  	fullHtml += formatRow("",json,0); // Resides in localsite.js

  	$("#resultFull").show();
    //resultFull.innerHTML = fullHtml;
    $("#resultFull").html(fullHtml);
  })
  // .catch(function(error) {
	//     //alert(error);
	//     $("#resultLoading").text(error);
	//     //$("#resultLoading").text("Error: " + error.message);
	// });
}
function displayRequestsCorsAnywhere(url) {
	$("#resultFull").html("");
    const proxyUrl = 'https://cors-anywhere.herokuapp.com/'; // Use your own proxy if available
    urlCombo = proxyUrl + url;
    const xhr = new XMLHttpRequest();
    xhr.open("GET", urlCombo, true);
    
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
        	$("#resultFull").show();
        	if (url.indexOf("/rss") !== -1) { // RSS FEED
	        	const rssFeed = xhr.responseText;

	        	// Parse XML
				const parser = new DOMParser();
				const xmlDoc = parser.parseFromString(rssFeed, "text/xml");

				// Extract items
				const items = xmlDoc.getElementsByTagName("item");
				const formattedItems = [];

				for (let i = 0; i < items.length; i++) {
				  const item = items[i];
				  const link = item.querySelector("link").textContent;
				  const description = item.querySelector("description").textContent;
				  const pubDate = item.querySelector("pubDate").textContent;
				  const guid = item.querySelector("guid").textContent;
				  
				  formattedItems.push({
				    link,
				    description,
				    pubDate,
				    guid
				  });
				}
				const formattedRSS = formatRow("",formattedItems,0); // Resides in localsite.js
			    $("#resultFull").html(formattedRSS);
	        } else {
	            const data = JSON.parse(xhr.responseText);
	            const requestsDiv = document.getElementById('resultFull');
	            data.forEach(item => {
	                const requestDiv = document.createElement('div');
	                requestDiv.innerHTML = `
	                    <h2>${item.description}</h2>
	                    <b>Address</b> ${item.address}<br>
	                    <b>Latitude</b> ${item.lat}<br>
	                    <b>Longitude</b> ${item.long}<br>
	                    <b>Service Request ID</b> ${item.service_request_id}<br>
	                    <b>Requested Datetime</b> ${item.requested_datetime}<br>
	                    <b>Service Code</b> ${item.service_code}<br>
	                    <b>Status</b> ${item.status}<br>
	                    <b>Zipcode</b> ${item.zipcode}<br>
	                    <b>Updated Datetime</b> ${item.updated_datetime}<br>
	                    <b>Agency Responsible</b> ${item.agency_responsible}<br>
	                    <b>Service Name</b> ${item.service_name}<br>
	                    <img src="${item.media_url}" style="width:100%;max-width:500px"><br>
	                    <b>Expected Datetime</b> ${item.expected_datetime}<br>
	                    <b>Address ID</b> ${item.address_id}<br>
	                    <b>Service Notice</b> ${item.service_notice}<br>
	                    <b>Status Notes</b> ${item.status_notes}<br>
	                `;
	                requestsDiv.appendChild(requestDiv);

	            });
	        }
        } else if (xhr.readyState === 4) {
            console.error('Error fetching data. Status:', xhr.status);
        }
    };
    
    xhr.send();
}

</script>

</head>


<body>

<div class="contentpadding">

	<div style="float:right">View <a href="../">Feed Player</a> | <a href="/data-commons/docs/jobs/">Data Commons</a></div>

	<!--h1 id="pageTitle"></h1-->
	<select id="apiFeeds" onchange="goHash({'feed':this.value})"></select>
	<br>

	<input type="text" id="apiURL" class="textInput" style="width:100%;max-width:1000px;color:#999;background-color:rgba(0, 0, 0, 0);" placeholder="API URL" value="" autofocus onfocus="this.select()"><br><br>

	<div style="margin-left:10px">
		<!--
		Also see <a href="no-d3.html">$.getJSON</a>
		-->

		<!--
		If we reactivate, only show when contains text
		-->
		<div id="pageTitleText" style="padding-top: 10px;"></div>
		

		<!--
		<div id="resultLoading" style="padding-top: 10px;">Loading..<br></div>
		-->
		<div id="resultFull"></div>
	</div>

</div>


</body>

</html>
